<!--
    target的大白话总结：
        指定选择器：#first:target 对应的【a标签】点击,则会触发匹配【目标选择器的样式】
        自动匹配全部选择器:target 对应的【a标签】点击,自动触发只要匹配的目标选择器的样式
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>结构性伪类选择器—target</title>
    <style>
        /*#first:target {*/
        /*    background: red;*/
        /*}*/
        :target {
            background: yellow;
        }
    </style>
</head>
<body>
<!--这里点击First则自动触发#first:target【优先级更高】 和 :target 选择器-->
<div id="first"><a href="#first">First</a></div>

<!--这里点击First则自动触发:target 选择器-->
<div id="second"><a href="#second">Second</a></div>
</body>
</html>

